/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section.cart-items {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.cart-items h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

div.cart-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

div.cart-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

div.cart-item h2 {
    font-size: 18px;
}

div.cart-item h3 {
    font-size: 16px;
    margin-top: 10px;
}

div.cart-item p {
    font-size: 14px;
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
footer ul {
    list-style: none; /* Remove bullets for the unordered list in the footer */
    padding: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer p {
    font-size: 14px;
}
