/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-image: url('logo/bg3.jpg'); /* Replace with your background image */
  background-size: cover;
  position: relative;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  max-width: 100px;
  padding-top: 20px;
}

.image{
  padding-top: 70px;
}

/* Navigation bar styles */
nav {
  background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent black background */
  padding: 10px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed; /* Make the navigation bar sticky */
  width: 100%; /* Ensure it spans the full width of the viewport */
  top: 0; /* Position it at the top of the viewport */
  z-index: 100; /* Ensure it's above other content */
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-right: 20px;
  transition: color 0.3s ease;
  display: inline;
}


nav a:hover {
  color: #007bff; /* Change color on hover */
}

/* Form styles */
h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* Add a transparent white background for the frosted glass effect */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Add a subtle border */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  backdrop-filter: blur(10px);
}

.error-message {
text-align: center;
color: red;
font-weight: bold;
margin-top: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
}

.g-recaptcha {
  margin: 10px 0;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  font-weight: 200;
  text-decoration: none;
  color: blue;
  display: block;
  margin-top: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  color: #fff;
}
