/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-image: url('logo/bg2.jpg'); /* Replace with your background image */
  background-size: cover;
  position: relative;
  /* background: fixed; */
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* Add a transparent white background for the frosted glass effect */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Add a subtle border */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.image{
  padding-top: 70px;
}

header img {
  max-width: 100px;
}

/* Navigation bar styles */
nav {
  background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent black background */
  padding: 10px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed; /* Make the navigation bar sticky */
  width: 100%; /* Ensure it spans the full width of the viewport */
  top: 0; /* Position it at the top of the viewport */
  z-index: 100; /* Ensure it's above other content */
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff; /* Change color on hover */
  text-decoration: underline;
}

nav ul li a:hover {
  color: #007bff; /* Change color on hover */
  text-decoration: underline;
}

/* Form styles */
.box {
  margin-bottom: 20px;
}

.fontLabel {
  font-weight: bold;
}

.iconBox {
  float: left;
  margin-right: 10px;
}

.textBox {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5); /* Add a transparent white background for input fields */
}

.submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.submit:hover {
  background-color: #0056b3;
}

button a {
  text-decoration: none;
  color: #007bff;
}

/* Error message styles */
p {
  color: #f00;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  color: #fff;
}